# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Ignore proof of concept micro files
bindings.go
buffer.go
colorscheme.go
command.go
cursor.go
eventhandler.go
gotolineno.go
help.go
highlighter.go
messenger.go
micro.go
runtime.go
search.go
settings.go
stack.go
stack_test.go
statusline.go
toggleselection.go
util.go
util_test.go
view.go
micro
cmds/micro/micro.go

# Project specific excludes
*~
